@charset "euc-kr";
@import url(../../fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(../../fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@import "layout.css";
@import "content.css";
@import "superfish.css";/*상단메뉴*/
@import "slidebars.css"; /*모바일메뉴*/
@import "camera.css";/*슬라이드*/
@import "jquery-ui.css";/*UI디자인*/

/*==========================================================                       

						NORMALIZE

==========================================================*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:top; word-break:keep-all;  }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }



body {background:#f9f9f9; font:normal 0.875em '나눔고딕','Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif; line-height:1.6; color:#464646; _overflow-x:hidden; font-weight:normal; -webkit-text-size-adjust:none; }
ol, ul { list-style:none; }
legend, caption {width:0; height:0; line-height:0; font-size:0px; float:left; position:absolute; visibility:hidden; overflow:hidden;}
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }
button, input[type='button'] { font:normal 0.875em '나눔고딕','Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif; background:none; border:none; display:inline-block; padding:0; outline:none; outline-offset:0; cursor:pointer; -webkit-appearance:none; } 
button::-moz-focus-inner,   input[type='button']::-moz-focus-inner { border:none; padding:0; }
img { max-width:100%; height:auto; }
/*p { font-size:14px; color:#424242; }*/
strong{font-weight:600;}



a { font:inherit; color:inherit; text-decoration:none; -moz-transition:0.3s; -o-transition:0.3s; -webkit-transition:0.3s; transition:0.3s; }
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; background-color:transparent; }
a:focus { text-decoration:none; outline:none; }
a[href^="tel:"], a[href^="callto:"] { color:inherit; text-decoration:none; }
input[type=checkbox], input[type=radio] { vertical-align:middle; }



input[type="text"] { height:24px; padding:0 5px; line-height:24px; border:1px solid #dbdbdb; vertical-align:middle; font:normal 13px '나눔고딕','Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif; color:#464646;  outline:none;} 
input[type="submit"] { font:normal 0.875em '나눔고딕','Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif; }
textarea { font:normal 0.875em '나눔고딕','Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif; color:#464646; border:1px solid #dbdbdb; padding:5px; }
input[type="file"] { cursor:pointer; }
select { font:normal 13px '나눔고딕','Nanum Gothic','돋움',Dotum,Helvetica,Verdana,Arial,sans-serif; color:#464646; border:1px solid #dbdbdb; padding:5px; cursor:pointer; }



/*========================================================

                      Fluid Grid

=========================================================*/

.container { position:relative; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; width:960px; margin:0 auto; }
@media (max-width:1200px) {
.container {width:100%; }
	}

/*========================================================

                      Main Styles

=========================================================*/

.fa { line-height:inherit; }
[class*='fa-']:before { font-weight:400; font-family:"FontAwesome"; }

.page { min-height:500px; position:relative; -moz-transform:translateX(0px); -ms-transform:translateX(0px); -o-transform:translateX(0px); -webkit-transform:translateX(0px); transform:translateX(0px); -moz-transition:0.3s ease; -o-transition:0.3s ease; -webkit-transition:0.3s ease; transition:0.3s ease; -moz-transition:0.3s cubic-bezier(0.55, 0, 0.1, 1); -o-transition:0.3s cubic-bezier(0.55, 0, 0.1, 1); -webkit-transition:0.3s cubic-bezier(0.55, 0, 0.1, 1); transition:0.3s cubic-bezier(0.55, 0, 0.1, 1); }

.lt-ie9 .page { min-width:1040px; }
.page.active { -moz-transform:translateX(250px); -ms-transform:translateX(250px); -o-transform:translateX(250px); -webkit-transform:translateX(250px); transform:translateX(250px); }


h1 { font-size:40px; font-weight:600; color:#343b4a; letter-spacing:-0.05em; }
h2 { font-size:30px; font-weight:600; color:#1b1b1b; letter-spacing:-0.05em; }

/*=======================================================

                        Components

=========================================================*/

/* Align */

.txt_l { text-align:left !important; }
.txt_r { text-align:right !important; }
.txt_c { text-align:center !important; }



/* Layer */
#SLB_film { z-index: 9997; position:absolute; display:none; width:100%; height:100%; background-color:#333333; filter:Alpha(opacity=17); opacity:0.6; -moz-opacity:0.6; }
#SLB_content { z-index: 9999; position:absolute; }
.SLB_center { cursor:pointer; visibility:hidden; border-top:3px solid #df336a; margin-top:36px; position:relative; }
.SLB_close { cursor:pointer; display:none; position:absolute; top:0; right:0; width:19px; height:19px; padding:10px 12px; background:#df336a; }
.SLB_close img { width:19px; }
.SLB_caption { cursor:pointer; display:none; font-family:Dotum; font-size:11px; background-color:#f87500; color:#ffffff; padding-bottom:4px; }
#SLB_loading { cursor:pointer; display:none; z-index:9998; position:absolute; font-family:Dotum; font-size:11px; background:#000000; color:#ffffff; padding:3px 0px 4px 0px; }